body{
    color: white;
    text-align: center;
    font-family: "arial"l;
    margin: 0;
    padding: 0;
    
    
}
#cabecera{

    background: #2d2bc0 url("imagenes/deportivo.png");
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0,5);
    color: black;
}
#container
{
    background-color: black;
    width: 70%;
    padding: 1em;
    text-align: center;
    border: 1px solid black;
    margin: 0 auto;
    
}
